<div class="row vh-100">
    <!-- MAIN FORM -->
    <div class="col-12 col-md-6 bg-warning">
        <div class="vh-100 p-4">
            <form>
                <!-- PART 1 -->
                <div class="row" id="part1" *ngIf="formStep == 1">
                    <div class="col-12 mb-3">
                        <label for="name" class="form-label main-font">Ranking Title</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ranking Title" maxlength="100" [(ngModel)]="name">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="color" class="form-label main-font">Text Color</label>
                        <input type="color" class="form-control form-control-color w-100" id="textColor" name="textColor" [(ngModel)]="textColor">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="color" class="form-label main-font">Background Color</label>
                        <input type="color" class="form-control form-control-color w-100" id="backgroundColor" name="backgroundColor" [(ngModel)]="backgroundColor">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="numberOfItems" class="form-label main-font">Number of items</label>
                        <select class="form-select" id="numberOfItems" name="numberOfItems" [(ngModel)]="numberOfItems" (ngModelChange)="generateTemplate()">
                            <option [ngValue]=1 selected hidden>1</option>
                            <option *ngFor="let num of values" [ngValue]="num">{{num}}</option>
                        </select>
                    </div>
                    <div class="col-6 mb-4">
                        <label for="select" class="form-label main-font">Selection type</label>
                        <select class="form-select" id="select" name="select" [(ngModel)]="categoriaSelecionada" (ngModelChange)="checkCategoria()">
                            <option [ngValue]=0 selected hidden>Tracks</option>
                            <option *ngFor="let cat of categories" [ngValue]="cat.id">
                                {{cat.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4 btn-group">
                        <button type="button" class="btn btn-primary" (click)="next()">
                            Next
                        </button>
                    </div>
                </div>
                <!-- PART 2 -->
                <div class="row" id="part2" *ngIf="formStep == 2">
                    <div class="col-12 mb-2">
                        <label for="busca" class="form-label">
                            Select the {{category}}s
                        </label>
                        <div class="input-group mb-3" *ngFor="let item of lista; index as i">
                            <!-- TRACKS OR ALBUMS -->
                            <input 
                                *ngIf="categoriaSelecionada != 3"
                                type="text" 
                                class="form-control pointer" 
                                placeholder="Select {{category}} {{i+1}}"
                                data-bs-toggle="modal" data-bs-target="#modal"
                                (click)="select(i)"
                                readonly
                                value="{{
                                    item.artist && item.name ?
                                    item.artist + ' - ' + item.name: ''
                                }}"
                            >
                            <!-- ARTISTS -->
                            <input 
                                *ngIf="categoriaSelecionada == 3"
                                type="text" 
                                class="form-control pointer" 
                                placeholder="Select {{category}} {{i+1}}"
                                data-bs-toggle="modal" data-bs-target="#modal"
                                (click)="select(i)"
                                readonly
                                value="{{item.artist ? item.artist: ''}}"
                            >
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="col-12 col-md-3 btn-group">
                            <button type="button" class="btn btn-secondary" (click)="back()">
                                Back
                            </button>
                        </div>
                        <div class="col-12 col-md-3 mt-2 mx-md-1 mt-md-0 btn-group">
                            <button type="button" class="btn btn-danger" (click)="reset()">
                                Reset
                            </button>
                        </div>
                        <div class="col-12 col-md-3 mt-2 mt-md-0 btn-group">
                            <button type="button" class="btn btn-primary" (click)="generateTemplate()">
                                Generate
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- GENERATED IMAGE -->
    <div class="col-12 col-md-6 bg-warning">
        <div class="p-1 p-md-5 mb-3 h-100 d-flex flex-column align-items-center justify-content-start">
            <!-- DOWNLOADED IMAGE -->
            <div 
                id="table" class="col-12 text-light mb-5 mb-md-3" 
                [ngStyle]="{background: backgroundColor}"
            >
                <h1 
                    class="text-left main-font fw-bold p-3 m-0 h-10"
                    [ngStyle]="{color: textColor, 'word-wrap': 'break-word'}"    
                >
                    {{name}}
                </h1>
                <!-- LIST OF ITEMS -->
                <table class="table mb-0">
                    <tbody>
                        <tr *ngFor="let item of lista">
                            <!-- NUMBER -->
                            <th 
                                scope="row" 
                                class="col-2 text-center text-light bg-black" 
                                [ngClass]="item.id != numberOfItems && numberOfItems > 1 ? 
                                    'border-bottom border-light' : 'border-0'">
                                    {{item.id}}
                            </th>
                            <!-- IMAGE -->
                            <td 
                                class="col-2 p-0"
                                [ngClass]="item.id != numberOfItems && numberOfItems > 1 ? 
                                'border-bottom border-black' : 'border-0'">
                                <img 
                                *ngIf="categoriaSelecionada != 3"
                                src="{{item.img}}"
                                class="img-fluid w-100"
                                alt="{{item.artist}} - {{item.name}}">
                                <img 
                                *ngIf="categoriaSelecionada == 3"
                                src="{{item.img}}"
                                class="img-fluid w-100"
                                alt="{{item.artist}}">
                            </td>
                            <!-- TITLE -->
                            <td class="col-6 py-0" [ngClass]="item.id != numberOfItems ? 
                                'border-bottom border-black' : 'border-0'">
                                <div *ngIf="categoriaSelecionada != 3">
                                    <h2 class="main-font fw-bold mb-0">{{item.artist ? item.artist : 'Artist'}}</h2>
                                    <p class="main-font mb-0">{{item.name ? item.name : 'Song/Album'}}</p>
                                </div>
                                <div *ngIf="categoriaSelecionada == 3">
                                    <h2>{{item.artist ? item.artist : 'Artist'}}</h2>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-6 btn-group">
                <button type="button" class="btn btn-success py-3" (click)="download()">
                    Download Image
                </button>
            </div>
        </div>
    </div>
</div>

<!-- SEARCH MODAL -->
<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog" style="max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header border-bottom-2!important">
                <h5 class="modal-title main-font fw-bold">Search for {{category}}s</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-9 mx-auto">
                    <div class="input-group input-group-lg mb-3">
                        <input id="search" name="search" #search type="text" class="form-control" placeholder="Select {{category}}" [(ngModel)]="stringBusca" (keyup.enter)="buscar()">
                        <span class="input-group-text pointer" (click)="buscar()">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                </div>
                
                <p class="text-center mt-5" 
                *ngIf="resultados.length == 0 && show; 
                else showResults">
                    No results
                </p>
                <ng-template #showResults>
                    <!-- TRACKS -->
                    <table class="table mb-0" *ngIf="categoriaSelecionada == 1">
                        <tbody>
                            <tr *ngFor="let res of resultados" (click)="add(res)"  data-bs-dismiss="modal">
                                <th scope="row" class="col-3">
                                    <img 
                                    src="{{res.album.images[1].url}}"
                                    class="img-fluid w-100"
                                    alt="{{res.artists[0].name}} - {{res.name}}">
                                </th>
                                <td class="col-9">{{res.artists[0].name}} - {{res.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ALBUMS -->
                    <div class="row" *ngIf="categoriaSelecionada == 2">
                        <div *ngFor="let res of resultados" class="col-6 col-sm-4 col-md-2 mb-3">
                            <div (click)="add(res)" data-bs-dismiss="modal">
                                <img src="{{res.image[2]['#text']}}" class="img-fluid h-100 w-100" alt="{{res.artist}} - {{res.name}}">
                                <!-- <p>{{res.artist}} - {{res.name}}</p> -->
                            </div>
                        </div>
                    </div>
                    <!-- ARTISTS -->
                    <div class="row" *ngIf="categoriaSelecionada == 3">
                        <div *ngFor="let res of resultados" class="col-6 col-sm-4 col-md-2 mb-3">
                            <div (click)="add(res)" data-bs-dismiss="modal">
                                <img src="{{res.images[2]['url']}}" class="img-fluid h-100 w-100" style="object-fit: contain !important;" alt="{{res.artist}} - {{res.name}}">
                                <!-- <p>{{res.name}}</p> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>