<div class="row">
    <!-- MAIN FORM -->
    <main class="col-12 col-md-6">
        <div class="p-3">
            <form class="mb-5">
                <header class="text-center montserrat mb-3">
                    <h1 class="fw-bold">Rankify</h1>
                    <p>Rank your favorite songs, albums and artists in a custom chart</p>
                </header>
                <!-- PART 1 -->
                <div class="row" id="part1" *ngIf="formStep == 1">
                    <div class="col-12 mb-3">
                        <label for="name" class="form-label montserrat">Ranking Title</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ranking Title" maxlength="100" [(ngModel)]="name">
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="color" class="form-label montserrat">Text Color</label>
                        <input type="color" class="form-control form-control-color w-100" id="textColor" name="textColor" [(ngModel)]="textColor">
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="color" class="form-label montserrat">Background Color</label>
                        <input type="color" class="form-control form-control-color w-100" id="backgroundColor" name="backgroundColor" [(ngModel)]="backgroundColor">
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="numberOfItems" class="form-label montserrat">Number of items</label>
                        <select class="form-select" id="numberOfItems" name="numberOfItems" [(ngModel)]="numberOfItems" (ngModelChange)="generateTemplate()">
                            <option [ngValue]=1 selected hidden>1</option>
                            <option *ngFor="let num of values" [ngValue]="num">{{num}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label for="select" class="form-label montserrat">Selection type</label>
                        <select class="form-select" id="select" name="select" [(ngModel)]="categoriaSelecionada" (ngModelChange)="checkCategoria()">
                            <option [ngValue]=0 selected hidden>Tracks</option>
                            <option *ngFor="let cat of categories" [ngValue]="cat.id">
                                {{cat.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4 btn-group">
                        <button type="button" class="btn btn-primary montserrat" (click)="next()">
                            Next
                        </button>
                    </div>
                </div>
                <!-- PART 2 -->
                <div class="row" id="part2" *ngIf="formStep == 2">
                    <label for="busca" class="form-label montserrat">
                        Select the {{category}}s
                    </label>
                    <div class="col-12 mb-3" *ngFor="let item of lista; index as i">
                            <!-- TRACKS OR ALBUMS -->
                            <input 
                                *ngIf="categoriaSelecionada != 3"
                                type="text" 
                                class="form-control pointer" 
                                placeholder="Select {{category}} {{i+1}}"
                                data-bs-toggle="modal" data-bs-target="#modal"
                                (click)="select(i)"
                                readonly
                                value="{{
                                    item.artist && item.name ?
                                    item.artist + ' - ' + item.name: ''
                                }}"
                            >
                            <!-- ARTISTS -->
                            <input 
                                *ngIf="categoriaSelecionada == 3"
                                type="text" 
                                class="form-control pointer" 
                                placeholder="Select {{category}} {{i+1}}"
                                data-bs-toggle="modal" data-bs-target="#modal"
                                (click)="select(i)"
                                readonly
                                value="{{item.artist ? item.artist: ''}}"
                            >
                    </div>
                    <div class="col-12 mb-3">
                        <div class="col-12 col-md-3 btn-group">
                            <button type="button" class="btn btn-secondary" (click)="back()">
                                Back
                            </button>
                        </div>
                        <div class="col-12 col-md-3 mt-2 mx-md-1 mt-md-0 btn-group">
                            <button type="button" class="btn btn-danger" (click)="reset()">
                                Reset
                            </button>
                        </div>
                        <div class="col-12 col-md-3 mt-2 mt-md-0 btn-group">
                            <button type="button" class="btn btn-primary" (click)="generateTemplate()">
                                Generate
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <footer class="montserrat text-center">
                <h4>
                    Follow me on 
                    <a href="https://open.spotify.com/user/12178465372?si=08599f4c81534c7b" target="_blank" id="spotify">
                        Spotify <i class="fa-brands fa-spotify"></i>
                    </a>
                </h4>
                <h4>
                    Follow me on 
                    <a href="https://www.last.fm/pt/user/adriyear" target="_blank" id="lastfm">
                        Last.fm <i class="fab fa-lastfm"></i>
                    </a>
                </h4>
            </footer>
        </div>
    </main>
    <!-- GENERATED IMAGE -->
    <aside class="col-12 col-md-6" id="image-container">
        <div class="p-0 py-3 px-md-3 px-lg-5 mb-3 h-100 d-flex flex-column align-items-center justify-content-start">
            <!-- DOWNLOADED IMAGE -->
            <div 
                id="table" class="col-12 mb-3" 
                [ngStyle]="{background: backgroundColor}"
            >
                <header id="title"
                    class="text-left main-font text-light fw-bold p-3 m-0 h-10"
                    [ngStyle]="{color: textColor, 'word-wrap': 'break-word'}"    
                >
                    {{name}}
                </header>
                <!-- LIST OF ITEMS -->
                <table class="table mb-0">
                    <tbody>
                        <tr *ngFor="let item of lista">
                            <!-- NUMBER -->
                            <th 
                                scope="row" 
                                class="col-2 text-center text-light bg-black" 
                                [ngClass]="item.id != numberOfItems && numberOfItems > 1 ? 
                                    'border-bottom border-light' : 'border-0'">
                                    {{item.id}}
                            </th>
                            <!-- IMAGE -->
                            <td 
                                class="col-4 col-lg-2 p-0"
                                [ngStyle]="item.artist != '' ? 
                                {'border': 'none'} : {'border-color': '#cccccc'}"
                            >
                                <img 
                                *ngIf="categoriaSelecionada != 3"
                                src="{{item.img}}"
                                class="img-fluid w-100"
                                alt="{{item.artist}} - {{item.name}}">
                                <img 
                                *ngIf="categoriaSelecionada == 3"
                                src="{{item.img}}"
                                class="img-fluid w-100"
                                alt="{{item.artist}}">
                            </td>
                            <!-- TITLE -->
                            <td 
                                class="col-6 py-0" 
                                [ngClass]="item.id != numberOfItems ? 'border-bottom' : 'border-0'"
                                [ngStyle]="{'border-color': '#cccccc'}"
                            >
                                <div *ngIf="categoriaSelecionada != 3">
                                    <h2 class="main-font fw-bold mb-0">{{item.artist ? item.artist : 'Artist'}}</h2>
                                    <p class="main-font mb-0">{{item.name ? item.name : 'Song/Album'}}</p>
                                </div>
                                <div *ngIf="categoriaSelecionada == 3">
                                    <h2>{{item.artist ? item.artist : 'Artist'}}</h2>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <footer class="text-end text-light main-font p-2 h-10">
                    <p class="montserrat m-0">Generated at rankify.net</p>
                </footer>
            </div>
            <div class="col-10 col-md-8 btn-group">
                <button type="button" class="btn btn-success montserrat py-3" (click)="download()">
                    <i class="fa-solid fa-download me-2"></i> Download Image
                </button>
            </div>
        </div>
    </aside>
</div>

<!-- SEARCH MODAL -->
<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title main-font fw-bold">Search for {{category}}s</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-0">
                <div class="col-11 mx-auto">
                    <div class="input-group input-group-lg mb-3">
                        <input id="search" name="search" #search type="text" class="form-control" placeholder="Select {{category}}" [(ngModel)]="stringBusca" (keyup.enter)="buscar()">
                        <span class="input-group-text pointer" (click)="buscar()">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                </div>
                
                <p class="text-center mt-5" *ngIf="resultados.length == 0 && show; else showResults">
                    No results
                </p>
                <ng-template #showResults>
                    <!-- TRACKS -->
                    <div class="row" *ngIf="categoriaSelecionada == 1">
                        <div 
                            *ngFor="let res of resultados" 
                            class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"
                        >
                            <div 
                                class="position-relative pointer" 
                                (click)="add(res)" data-bs-dismiss="modal"
                            >
                                <img 
                                    src="{{res.album.images[1].url}}"
                                    class="img-fluid w-100"
                                    alt="{{res.artists[0].name}} - {{res.name}}"
                                >
                                <div 
                                    class="position-absolute"
                                    [ngStyle]="{'bottom': '8px', 'left': '8px'}"
                                >
                                    <h3>{{res.artists[0].name}} - {{res.name}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ALBUMS -->
                    <div class="row" *ngIf="categoriaSelecionada == 2">
                        <div 
                            *ngFor="let res of resultados" 
                            class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"
                        >
                            <div 
                                class="position-relative pointer" 
                                (click)="add(res)" data-bs-dismiss="modal"
                            >
                                <img 
                                    src="{{res.image[2]['#text']}}"
                                    class="img-fluid w-100"
                                    alt="{{res.artist}} - {{res.name}}"
                                >
                                <div 
                                    class="position-absolute"
                                    [ngStyle]="{'bottom': '8px', 'left': '8px'}"
                                >
                                    <h3>{{res.artist}} - {{res.name}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ARTISTS -->
                    <div class="row" *ngIf="categoriaSelecionada == 3">
                        <div 
                            *ngFor="let res of resultados" 
                            class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"
                        >
                        <div 
                            class="position-relative pointer" 
                            (click)="add(res)" data-bs-dismiss="modal"
                        >
                            <img 
                                src="{{res.images[2]['url']}}"
                                class="img-fluid w-100"
                                alt="{{res.name}}"
                            >
                            <div 
                                class="position-absolute"
                                [ngStyle]="{'bottom': '8px', 'left': '8px'}"
                            >
                                <h3>{{res.name}}</h3>
                            </div>
                        </div>
                    </div>
                    </div>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>